{% block head %}
    <title>Not-found</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/not-found.css">
{% endblock %}

{% block content %}
    <div class="banner-erro">
        <div class="container-erro">
            <div class="content-erro">
                <h1>ERRO 404 👻</h1>
                <p>Parece que o endereço que você digitou não está disponível :/</p>
                <p>Clique no botão para ser redirecionado a página </p>

                <div class="btn">
                    <a href="/about"><button class="click">Clique Aqui</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}